<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <ul class="list-group todo-list">
        <li class="list-group-item new-item">
          <form id="todo-form">
            <div class="container">
              <div class="row">
                <div class="col-5">
                  <input class="name form-control" placeholder="Name" type="text" />
                </div>
                <div class="col-5">
                  <input class="new-item form-control" placeholder="Add a todo" type="text" />
                </div>
                <div class="col-2">
                  <button type="submit" class="btn btn-success">Add Todo</button>
                </div>
              </div>
            </div>
          </form>
        </li>
        <span class="todo-container">
          {{#each Todos}}
          <li class='list-group-item todo-item' data-complete={{this.complete}} data-id={{this.id}} data-text={{text}} data-name={{name}}>
            {{#if this.complete}}
              <span style="text-decoration: line-through;">{{this.text}}</span><span style="text-decoration: line-through;"> | created by: {{this.name}}</span>
              <span> | last updated: {{lastUpdated this.updatedAt}}</span>
            {{else}}
              <span>{{this.text}}</span><span> | created by: {{this.name}}</span>
              <span> | last updated: {{lastUpdated this.updatedAt}}</span>
            {{/if}}
            <input type='text' class='edit' style='display: none;'>
            <button id={{this.id}} class='delete btn btn-danger'>x</button>
            <button class='complete btn btn-primary'>✓</button>
          </li>
          {{/each}}
        </span>
      </ul>
    </div>
  </div>
</div>